@import './utils/variables';

@import './base/reset';
@import './base/common';

@import './components/conteiner';
@import './components/modal';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/points';
@import './layouts/works';
@import './layouts/teams';
@import './layouts/clients';
@import './layouts/footer';
@import './layouts/portfolio';