

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    .modal {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--secondery-color-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  p {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
  }
}

.form-field {
  display: block;
  position: relative;
  margin-bottom: 28px;
  & + .comment {
    margin-bottom: 20px;
  }
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-18px);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: var(--main-focus) solid 1px;
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--main-color);
  cursor: pointer;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form-field:focus-within > & {
    fill: var(--main-focus);
  }
}

.form-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: var(--main-focus) solid 1px;
  }
}

.checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
}

.form-icon-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(12px, 3px);
  border: 1px solid #121212;
  border-radius: 2px;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .checkbox:checked + & {
    fill: var(--secondery-color-text);
    border: 1px solid var(--main-focus);
    background-color: var(--main-focus);
  }
}

.checkbox-text {
  margin-left: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.terms {
  margin-left: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-focus);
  text-underline-offset: 3px;
}

.modal-form-btn {
  cursor: pointer;
  width: 200px;
  padding: 10px 52px;
  background: var(--main-focus);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--secondery-color-text);
}

.button-closed {
  margin: 8px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  background-color: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .button-closed:hover &,
  .button-closed:focus & {
    fill: var(--main-focus);
  }
}
