.footer {
  padding: 60px 0;
  background-color: #2f303a;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.footer-div {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.footer-div__top {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}

.footer-contact__connect {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    width: 231px;
  }
  & > a {
    @media screen and (min-width: 1200px) {
      margin-bottom: 8px;
    }
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-address__connect {
  margin-top: 20px;
}

.footer-address__map {
  color: var(--secondery-color-text);
}

.footer-address__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-text {
  flex-direction: row;
  color: var(--secondery-color-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-soc__connect {
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 12px;
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.footer-text__connect {
  margin-bottom: 20px;
}

.footer-soc__list {
  // width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--main-focus);
  }
}

.footer-soc__icon {
  fill: var(--secondery-color-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .footer-soc__link:hover &,
  .footer-soc__link:focus & {
    background-color: var(--main-focus);
  }
}

.footer-send__connect {
  margin-top: 12px;
}

.form-send {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.form-send__label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondery-color-text);
}

.form-send__email {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.btn__send {
  padding: 10px 28px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--main-focus);
  height: 50px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--secondery-color-text);
  @media screen and (min-width: 1200px) {
    margin: 0 0;
    margin-top: 37px;
    margin-left: 12px;
  }
}

.btn__icon {
  margin-left: 10px;
  fill: var(--main-bg-color);
}
